.listContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    width: auto;
    /* align-items: center; */
    margin: 0.5vh;
    margin-top: 2.5vh;
    overflow: hidden;
}
@media (max-width: 768px) {
    .listContainer {
        display: flex;
        flex-direction: column;
    }


}