.reporte {
    display: flex;
    justify-items: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.reporte__p {
    align-self: first baseline;
}

.boton {
    margin-top: 5%;
}

.canvasBody {
    border-radius: 25px;
    background-color: rgb(128, 128, 128, 0.95);
}

@media (max-width: 768px) {
    .reporte {
        width: 100%;
    }
}

