.stockContainer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding: 3vh;
    gap: 1.5vh;
    align-items: center;
    justify-content: center;
    background-color:  #3f3f3f;
    color: white;
    border-radius: 25px;
    width: auto;
    margin: 10vh 1vh;
    overflow: hidden;

}

.form__data{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
