.footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(253, 242, 33);
    color: black;
    border-top: 2px solid black;
    justify-content: space-around;
    /* position: fixed; */
    /* bottom: 0 */
}

.footer__title {
    /* display: flex; */
    /* justify-content: center; */
    align-self: center;
    width: 100%;
}
.footer__mail{
    /* display: flex; */
    /* justify-content: center; */
    align-self: center;
    width: 100%;
}

.footer__img {
    display: flex;
    max-height: 100%;
    width: auto;
}

@media (max-width: 910px) {
    .footer__title {
        display: none;
    }
}

