.login__body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-origin: border-box;
    align-content: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/pasesapp-d01af.appspot.com/o/Tomo2.jpg?alt=media&token=71d1b34d-3bd1-40fb-832a-f3463749a134);
    object-fit: scale-down;
    padding: 2rem 0;
    background-size: cover;
    background-repeat: no-repeat; 

}

.form__container {
    border-radius: 20px;
    padding: 1rem;
    width: 90%;
    background: rgb(32, 32, 32, 0.9);
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 6px 1px 11px rgba(255,255,255,0.40);
}

.form__reg {
    border-radius: 20px;
    padding: 1rem;
    width: 90%;
    background: rgba(128, 128, 128, 0.9);
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 6px 1px 11px rgba(255,255,255,0.40);
}

.logo {
    height: 1.3rem;
    justify-self: end;
}

.img{
    width: 25vh;
} 

.form__group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

.form__section {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.form__p{
    color: white;
    
}
.linea{
    width: 100%;
    border: 3px solid #ffffff; 
    border-radius: 150px/5px; 
    height: 0px; text-align: center;
    opacity: 1;
}

.login {
    width: 40%;
    margin: 0 1.5rem;

}

.registro {
    width: 40%;
    margin: 0 1.5rem;
}

.opciones {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}
.botones {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.canvasBody {
    border-radius: 25px;
    background-color: #3f3f3f;
}


@media (max-width: 910px) {
    .login__body {
        background-size: contain;
        background-repeat: repeat; 
    }

    .img{
        width: 15vh;
    } 
    .form__group {
        flex-direction: column;
    }
    .bienvenida, .linea {
        display: none;
    }
    .form__group {
        width: 100%;
    }
    .form__section {
        width: 100%;
    }
    .login {
        width: 100%;
        margin: 0;
    }

    .opciones {
        width: 100%;
        margin: 1rem 0;
    }
    .botones {
        width: 100%;
        gap: 1rem;
    }

}